#cloud-config

hostname: {{ hostname }}
manage_etc_hosts: true
timezone: UTC

growpart:
  mode: auto
  sort: true
resize_rootfs: true

chpasswd:
  expire: false
  users:
    - name: root
      password: "{{ root_password }}"
      type: text

write_files:
  - path: /etc/ssh/sshd_config.d/99-root-login.conf
    permissions: '0644'
    content: |
      PermitRootLogin yes
      PasswordAuthentication yes

ssh_pwauth: true
disable_root: false

{% if ssh_keys and ssh_keys | length > 0 %}
users:
  - name: root
    ssh_authorized_keys:
{% for key in ssh_keys %}
      - {{ key }}
{% endfor %}
{% endif %}

package_update: true
package_upgrade: false
packages:
  - openssh-server
  - curl
  - sudo

runcmd:
  - systemctl try-reload-or-restart ssh.socket sshd.service ssh.service || true
