#cloud-config

hostname: {{ hostname }}
manage_etc_hosts: true
timezone: UTC

growpart:
  mode: auto
  sort: true
resize_rootfs: true

chpasswd:
  expire: false
  users:
    - name: root
      password: "{{ root_password }}"
      type: text

ssh_pwauth: true
disable_root: false

{% if ssh_keys and ssh_keys | length > 0 %}
users:
  - name: root
    ssh_authorized_keys:
{% for key in ssh_keys %}
      - {{ key }}
{% endfor %}
{% endif %}

package_update: true
package_upgrade: false
packages:
  - openssh-server
  - curl
  - sudo
